 <% provide(:title, @question.title) %>
<h1>
  <%= @question.title%>
</h1>
<h4>
  <%= @question.content %>
</h4>
<h5>
  created by: <%= @question.user.username %>
</h5>
<h6>
  <% @comments.each do |comment| %>
  <%= comment.content %> - <%= comment.user.username %>
  <% end %>
</h6>

<% if session[:user_id] %>
<%= link_to 'Comment', new_question_comment_path(session[:user_id]) %>
<% end %>

<% if session[:user_id] %>
<form action="/questions/<%= params[:id] %>/answers/new" method="get">
  <input type="submit" value="Answer">
</form>
<% end %>


