<% provide(:title, @question.title) %>
<h1>
  <%= @question.title%>
</h1>
<%= link_to 'Vote Up', Upvote_path(@vote), method: :post %>
<%= link_to 'Vote Down', Downvote_path(@vote), method: :post %>
<h4>
  <%= @question.content %>
</h4>
<h5>
  created by: <%= @question.user.username %>
</h5>
<h6>
  <% @comments.each do |comment| %>
  <%= comment.content %> - <%= comment.user.username %> <br>
  <% end %>
</h6>

<% if session[:user_id] %>
  <%= link_to 'Comment', new_question_comment_path(session[:user_id]) %>
<% end %>

<% if session[:user_id] %>
<form action="/questions/<%= params[:id] %>/answers/new" method="get">
  <input type="submit" value="Answer">
</form>
<% end %>


<% if @answers %>
  <% @answers.each_with_index do |answer, i| %>
    <h3>Answer <%= i+1 %>:  <%= answer.content %><h3>

    <h6>
      <% answer.comments.each do |comment| %>
      <%= comment.content %> - <%= comment.user.username %> <br>
      <% end %>
    </h6>

    <% if session[:user_id] %>
      <%= link_to 'Comment', new_answer_comment_path(session[:user_id]) %>
    <% end %>

  <% end %>
<% end %>
