<h1>Welcome to Quack Overflow</h1>

<%= form_tag("/questions/search", method:"get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<%= link_to "Ask a Question", new_user_question_path(session[:user_id]) %>
<%= link_to "Browse Questions", questions_path %>
<%= link_to "Browse Users", users_path %>

<h3>Top Questions </h3>


