<!DOCTYPE html>
<html>
<head>
  <title>Quack Overflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<h4 style="margin: 10px 10px 5px 10px"> Quack Overflow </h4>
<header style="margin: 5px 10px;">
  <%=
   link_to_if(session[:user_id].nil?, "Login", { controller: "users", action: "login" }) do
     link_to("Log Out", { controller: "users", action: "logout", id: session[:user_id] })
   end
%>

<%=
   link_to_if(session[:user_id].nil?, "Sign Up", { controller: "users", action: "new" }) do
     link_to("My Account", { controller: "users", action: "show", id: session[:user_id] })
   end
%>
<%= link_to "Home", root_path %>
</header>
<body>

  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>
<footer>
  <p style="margin: 10px">All Rights Reserved. Brought to you by The Quacks.</p>
</footer>
</body>
</html>
